/* Global Styles */
:root {
  --primary: #3498db; /* Brand blue */
  --secondary: #2c3e50; /* Dark blue */
  --accent: #e74c3c; /* Red for CTAs */
  --light: #ecf0f1; /* Light gray */
  --dark: #1a252f; /* Footer dark */
  --blue: #1A52B0; /* Blue color for Nile Care*/
}

.navbar {
  position: fixed; /* Makes navbar stick */
  top: 0; /* Positions at the very top */
  left: 0; /* Ensures full width */
  width: 100%; /* Takes full viewport width */
  height: 21%;
  z-index: 1000; /* Ensures navbar stays above other content */
  background: linear-gradient(135deg, white 20%, cyan);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: violet;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 100px;
  width: auto;
}

.company-name {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--blue);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding-right: 3rem;
}

.nav-links a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: var(--secondary);
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: var(--primary);
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  z-index: 1001;
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: var(--secondary);
  transition: all 0.3s ease;
}

.line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    flex-wrap: wrap;
    /* padding-top: 0.5rem;
    padding-bottom: 3rem; */
  }

  .logo {
    height: 80px;
  }

  .company-name {
    font-size: 1.7rem;
  }

  .hamburger {
    display: flex;
    margin-right: 2rem;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, white 20%, cyan);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateY(0);
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .nav-links {
    gap: 1rem;
  }
}